.hamburger-menu {
  display: none;
  position: absolute;
  right: 35px;
  top: -15px;

  #menu__toggle {
    opacity: 0;

    &:checked {
      position: fixed;

      & ~ .menu__btn {
        position: fixed;
        top: 30px;
        right: 35px;
      }

      & ~ .menu__btn > span {
        transform: rotate(45deg);
        background-color: white;

        &::before {
          top: 0;
          transform: rotate(0);
          background-color: white;
        }

        &::after {
          top: 0;
          transform: rotate(90deg);
          background-color: white;
        }
      }

      & ~ .menu__box {
        visibility: visible;
        left: 0;
      }
    }
  }

  .menu__btn {
    display: flex;
    align-items: center;


    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 3;

    & > span,
    & > span::before,
    & > span::after {
      display: block;
      position: absolute;

      width: 100%;
      height: 2px;

      background-color: black;

      transition-duration: .25s;
    }

    & > span::before {
      content: '';
      top: -8px;
    }

    & > span::after {
      content: '';
      top: 8px;
    }
  }


  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    z-index: 2;

    width: 100%;
    height: 100%;

    margin: 0;

    background-color: white;
    transition-duration: .2s;

    ul {
      padding: 0;
      margin-bottom: 65px;
      list-style: none;
    }

    .menu-top {
      background-color: black;
      padding: 12px 20px;
      margin-bottom: 50px;

      img {
        filter: brightness(0) invert(1);
      }
    }

    button {
      height: 48px;
      width: 196px;
    }

    li {
      display: block;
      margin-bottom: 40px;
      color: #333;
      font-size: 40px;
      font-family: 'Sofia Pro';
      font-weight: 400;
      text-decoration: none;
      text-align: center;
      transition-duration: 0.25s;

      &:last-child {
        margin-bottom: 100px;
      }

      &:hover {
        background-color: #f9d023;
      }

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

@media (max-width: 540px) {
  .hamburger-menu {
    display: block;
  }

  .menu-container {
    padding: 0 25px;
  }

  #menu-left {
    display: none;
  }
}
