$stripeStep: 1110px;
$stripeColorWhite: white;
$stripeColorBlack: black;
$stripeColorGray: rgba(150, 150, 150, 0.15);
$stripeColorYellow: #f6d330;
$colorYellow: #f6d330;

@mixin padding(){
    padding-bottom: 140px;
    padding-top: 110px;
    @media (max-width: 1200px) {
        padding-bottom: 80px;
        padding-top: 50px;
    }
}

.pd{
    z-index: 1;
    padding-left: 0px;
}

html,body{
  height: 100%;
}

.lines-wrapper{
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  z-index: 2;
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  pointer-events: none;
  @media (max-width: 1476px) {
    display: none;
  }
  &__contact{
    top: 0 !important;
    margin-top: -120px;
  }
  &-short{
    top: 70%;
    height: 0;
    justify-content: space-evenly;
    position: relative;
    &-black{
      top: -4%;
    }
  }


  .line{
    border-right: 1px solid rgba(0,0,0,0.1);
    position: relative;

    &-short {
      height: 15px;
      border-right: 2px solid $stripeColorWhite;

      &-black {
        border-right: 2px solid black;
      }
    }

    &-long{
      border-right: 2px solid $stripeColorYellow;
      height: 100px;
      margin-top: -75px;
    }
  }
}

img.bg-img{
    margin-top: -5px;
    margin-left: 2px;
    width: 20px !important;
    height: 10px;
    display: inline-block !important;
}

.button {
  background-color: #f9d023;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-family: "Sofia Pro";
  font-weight: 500;

  &:focus {
    border: none;
    outline: none;
  }
}

.wrapper{
  position: relative;
}

.container {
    max-width: 1040px;
}

body {
    font-size: 18px;
}

h2 {
  position: relative;
  display: inline-block;
  margin-bottom: 120px;
  padding-bottom: 15px;

  &::after {
    content: '';
    position: absolute;
    bottom: -90px;
    height: 100px;
    width: 6px;
    left: 45px;
    transform: rotate(-90deg);
  }

}

  .title {
    font-size: 90px;
    font-family: 'Alata', sans-serif;
    font-weight: 400;

    &-white::after{
      background-color: $stripeColorWhite;
    }

    &-yellow::after{
      background-color: $stripeColorYellow;
    }

    @media (max-width: 767px) {
      font-size: 40px;
    }
  }

  .mrg {
    margin: 0px;
    z-index: 2;
    position: relative;
    justify-content: space-around;
    @media (max-width: 992px) {
      justify-content: space-between;
      padding: 0 35px;
    }
  }

  .section-number {
    font-size: 14px;
    z-index: 2;
    font-family: 'Sofia Pro';
    font-weight: 300;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);

    &__entry {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0px;
      }

      &__number {
        margin-right: 5px;
        font-size: 12px;
      }

      &__title {
        margin-right: 5px;
      }

      &__line {
        width: 30px;
        height: 0;
        border-top: 2px solid black;

        &.long {
          width: 60px;
        }
      }
    }

    &.dark * {
      color: white;
      border-color: white;
    }

    @media (max-width: 1476px) {
      display: none;
    }
  }

  .header {
    &__wrapper {
      height: 913px;
      margin: 20px auto 0px;
      @media (max-width: 992px) {
        height: 840px;
      }
      @media (max-width: 767px) {
        height: 650px;
      }
      @media (max-width: 575px) {
        height: 485px;
      }
    }

    &__logo {
      @media (max-width: 575px) {
        float: left;
      }
    }

    &__menu {
      margin-top: 15px;
    }

    .menu {
      &__item {
        margin-right: 80px;
        @media (max-width: 767px) {
          margin-right: 0px;
        }
      }

      .item {
        color: black;
        text-decoration: none;
        font-family: 'Sofia Pro';
        font-weight: 400;

        &:hover {
          border-bottom: 1px solid $colorYellow;
          padding-bottom: 5px;
        }

        &:last-child {
          margin-right: 0px;
        }
      }
    }

    .slider-activities {
      .carousel {
        top: -117px;
        right: 1px;
        position: absolute;

        .owl-stage-outer {
          z-index: -1;
        }
      }

      &__item {
        &__container {
          padding: 0px;
          max-width: 100% !important;
        }

        .wrapper-information {
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1)),
          url(../../assets/images/background-image.png) no-repeat center;
          background-size: cover;
          place-content: center;
          height: 975px;
          display: flex;
          flex-wrap: wrap;
          color: white;
          align-content: center;
          @media (max-width: 767px) {
            height: 800px;
          }
          @media (max-width: 575px) {
            height: 620px;
          }

          .text-wrapper {
            text-align: center;
            padding: 0px 10px;

          }
        }

        &__title {
          font-size: 115px;
          margin-bottom: 41px;
          @media (max-width: 767px) {
            margin-top: 70px;
            font-size: 70px;
          }
          @media (max-width: 575px) {
            margin-bottom: 20px;
            font-size: 50px;
            margin-top: 165px;
          }
        }

        &__subtitle {
          font-size: 25px;
          font-family: 'Sofia Pro';
          font-weight: 300;
          margin-bottom: 80px;
          letter-spacing: 0.5px;
          padding: 0 197px;
          @media (max-width: 1200px) {
            padding: 0;
          }
          @media (max-width: 575px) {
            margin-bottom: 45px;
            font-size: 14px;
          }
        }

        &__button {
          height: 48px;
          width: 196px;
          font-size: 14px;
          margin: 0 auto;
        }

        &__text {
          margin-top: 177px;
          margin-bottom: -306px;
          font-family: "Sofia Pro";
          font-weight: 300;
          font-size: 14px;
          color: rgba(255, 255, 255, 0.7);

        }
      }
    }
  }


  .about-us {
    &__wrapper {
      @include padding;
      padding-top: 0px;
    }

    &__img {
      width: 100%;
      margin-bottom: 35px;
    }

    &__text {
      margin-bottom: 30px;
      font-family: 'Sofia Pro';
      font-weight: 300;
      font-size: 18px;

      &:last-child {
        margin: 0px;
      }
    }
  }

  .services {
    &__wrapper {
      background: $colorYellow;
      font-family: 'Sofia Pro';
      font-weight: 300;
      @include padding;
    }

    &__title{
      margin-bottom: 145px;
    }

    &__text {
      margin-top: -40px;
      margin-bottom: 45px;
      letter-spacing: 0.5px;

      &-bottom {
        margin-bottom: 0px;
        @media (max-width: 1200px) {
          margin-top: 50px;
        }
        @media (max-width: 992px) {
          margin-top: 25px;
        }
        @media (max-width: 767px) {
          margin-top: 20px;
        }
        @media (max-width: 575px) {
          margin-bottom: 0px;
        }
      }
    }

    .col-title {
      font-family: 'Sofia Pro';
      font-weight: 600;
      max-width: 200px;
      font-size: 40px;
    }

    &__list {
      margin-bottom: 120px;

      &__wrapper {
        margin: 0px;
        padding: 0px;
      }

      &__item {
        margin-bottom: 5px;
        margin-left: 22px;

        &::marker {
          color: white;
        }
      }


      &__arrow-img {
        margin-left: 15px;
        margin-top: 35px;
      }

      @media (max-width: 1200px) {
        margin-bottom: 20px;
      }
      @media (max-width: 992px) {
        margin-bottom: 40px;
      }
      @media (max-width: 767px) {
        margin-bottom: 40px;
      }
    }
  }

  .contact {

    &__title{
      margin-bottom: 110px;
    }

    &__wrapper {
      background: black;
      color: white;
      font-family: 'Sofia Pro';
      font-weight: 600;
      height: 840px;
      padding-top: 120px;
      @media (max-width: 1200px) {
        padding-top: 60px;
      }
      @media (max-width: 992px) {
        height: 650px;
      }
      @media (max-width: 575px) {
        height: 750px;
      }
    }

    &__text {
      font-size: 40px;
      word-break: break-word;
      @media (max-width: 992px) {
        margin-bottom: -90px;
      }
      @media (max-width: 767px) {
        font-size: 25px;
      }
      @media (max-width: 575px) {
        margin-bottom: 10px;
        margin-top: 25px;
      }

      span {
        color: #f6d330;
        padding-bottom: 5px;
        border-bottom: 1px solid;
      }
    }

    .contact-form {
      margin-top: -105px;
      @media (max-width: 767px) {
        margin-top: -20px;
      }

      &__wrapper {
        margin-left: 100px;
        @media (max-width: 767px) {
          margin-left: 0px;
        }
      }

      &__success {
        display: none;
      }

      &__title {
        max-width: 300px;
        font-size: 40px;
        margin-top: 170px;

        @media (max-width: 767px) {
          font-size: 25px;
        }
        @media (max-width: 575px) {
          margin-top: 45px;
          max-width: 175px;
          margin-bottom: 25px;
        }
      }

      .form {
        &__button {
          width: 272px;
          height: 48px;
          margin-bottom: 288px;
          float: right;
          @media (max-width: 1200px) {
            margin-bottom: 100px;
          }
          @media (max-width: 992px) {
            width: 100%;
            margin-bottom: 0px;
          }
          @media (max-width: 575px) {
            width: 196px;
            height: 48px;
            margin-bottom: 0px;
          }
        }

        &__input {
          width: 100%;
          height: 45px;
          margin-bottom: 14px;
          padding: 0 15px;
          font-family: 'Sofia Pro';
          font-weight: 500;

          &:focus-visible {
            outline: none;
          }

          &::placeholder {
            color: black;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .container {
      max-width: 970px;
    }
  }

  @media (max-width: 992px) {
    .container {
      max-width: 750px;
    }
    .wrapper {
      padding-top: 53px;
      padding-bottom: 67px;
    }
  }

  @media (max-width: 767px) {
    .container {
      max-width: none;
    }

    .text {
      font-size: 14px;
    }
  }

  @media (max-width: 575px) {
    .about-us__title {
      margin-top: -125px;
    }
  }
